.itemCount .boton {
    text-decoration: none;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: larger;
    border: solid;
    border-color: rgb(222, 205, 184);
    background-color: white;
    margin: 5px 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.sumaResta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.botonSumaResta {
    font-size: larger;
    border: solid;
    border-color: rgb(222, 205, 184);
    background-color: white;
    margin: 5px 0;
    padding: 3px 5px;
}